<div id="contact" class="jl-wrapper jl-wrapper-full-width ">
  <div class="flex jld-footer">
    <div class="left">
      <div class="footer-background-image">
        <img src="/assets/jld_clients.jpg">
      </div>
      <div class="centered">
        <div class="footer-controls">
          <div class="contact-footer-control footer-control" data-control="contact">
            Contact
          </div>
          <div class="client-footer-control footer-control" data-control="clients">
            Clients
          </div>
          <div class="about-footer-control footer-control" data-control="about">
            About
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="footer-contact carousel-slide">
        <span>contact form</span>
      </div>
      <div class="footer-clients carousel-slide">
        <span>
          <ul>
            <li>client name</li>
            <li>client name</li>
            <li>client name</li>
            <li>client name</li>
            <li>client name</li>
            <li>client name</li>
            <li>client name</li>
            <li>client name</li>
            <li>client name</li>
            <li>client name</li>
            <li>client name</li>
            <li>client name</li>
            <li>client name</li>
          </ul>
        </span>
      </div>
      <div class="footer-about carousel-slide">
        <span>
          "She not only has a great taste for colors, fonts and overall branding feel; but has the attention to details that really take (your and her) designs to the next level"
        </span>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="jl-wrapper">
    <div class="flex space-bwtn">
      <span>
        <a href="https://www.instagram.com/jacquelinelavitt.designs/?hl=en"><span uk-icon="instagram"></span></a>
        <a href="https://www.linkedin.com/in/jacqueline-lavitt-ba3025a6/"><span uk-icon="linkedin"></a>
      </span>
    </div>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/siema@1.5.1/dist/siema.min.js" type="text/javascript"></script>
<script src="/assets/uikit.js" type="text/javascript"></script>
<script src="/assets/uikit-icons.js" type="text/javascript"></script>
<script src="/assets/main.js" type="text/javascript"></script>
