@font-face {
    font-family: 'Boogy Brut Poster WBL';
    src: url('../assets/BoogyBrutPosterWEBL-Black.woff2') format('woff2'),
        url('../assets/BoogyBrutPosterWEBL-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Boogy Brut Poster WBL White';
    src: url('../assets/BoogyBrutPosterWEBL-White.woff2') format('woff2'),
        url('../assets/BoogyBrutPosterWEBL-White.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Grotesk';
    src: url('../assets/MonumentGrotesk-Italic.woff2') format('woff2'),
        url('../assets/MonumentGrotesk-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Grotesk';
    src: url('../assets/MonumentGrotesk-Bold.woff2') format('woff2'),
        url('../assets/MonumentGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Grotesk';
    src: url('../assets/MonumentGrotesk-BoldItalic.woff2') format('woff2'),
        url('../assets/MonumentGrotesk-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Grotesk Mono';
    src: url('../assets/MonumentGrotesk-Mono.woff2') format('woff2'),
        url('../assets/MonumentGrotesk-Mono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Grotesk';
    src: url('../assets/MonumentGrotesk-MediumItalic.woff2') format('woff2'),
        url('../assets/MonumentGrotesk-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Grotesk';
    src: url('../assets/MonumentGrotesk-Medium.woff2') format('woff2'),
        url('../assets/MonumentGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Grotesk';
    src: url('../assets/MonumentGrotesk-Regular.woff2') format('woff2'),
        url('../assets/MonumentGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Grotesk SemiMono';
    src: url('../assets/MonumentGrotesk-SemiMono.woff2') format('woff2'),
        url('../assets/MonumentGrotesk-SemiMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



body {
  background-color: $gold;
  font-family: 'Monument Grotesk';
  font-weight: 100;
  font-size: 16px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes header {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes footer {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  5% {
    opacity: 1;
    transform: translateY(0px);
  }
  95% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0.1;
    transform: translateY(5px);
  }
}

@keyframes cards {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cardsTwo {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(-20px) translateX(20px);
  }
}

@keyframes cardsThree {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translate(-30px, 30px);
  }
}

h1 {
  font-family: 'Boogy Brut Poster WBL White';
  font-weight: 100;
  font-size: 60px;
  line-height: 1;
}

[class="h1"] {
  font-family: 'Boogy Brut Poster WBL White';
  font-weight: 100;
  font-size: 90px;
  line-height: 1;

  & > * {
    font-family: 'Boogy Brut Poster WBL White';
    font-weight: 100;
    font-size: 90px;
    line-height: 1;
  }
}

h2 {
  font-size: 24px;

  .project-title & {
    font-weight: 200;
    text-transform: uppercase;
    font-size: 34px;
  }
}

h3 {
  font-size: 18px
}

h4 {
  font-size: 18px;
  font-weight: 300;
}

p {
  font-size: 16px;
}

ul {
  list-style: none;
  margin: 0;
}

.flex {
  display: flex;
}

.space-bwtn {
  justify-content: space-between;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.eighty {
  width: 80%;
}

.jl-wrapper {
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.jl-logo-wrapper {
  height: 100vh;
  position: relative;

  svg {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    overflow: visible;
    z-index: -10;

    path {
      will-change: opacity;
      opacity: 0;
      animation-name: fadeIn;
      animation-duration: 3s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;

      @for $i from 1 through 23{
      &:nth-child(#{$i}){
        animation-delay: $i * 50ms;
      }
    }
    }
  }
}

.jl-home-image-cards {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  height: 500px;
  opacity: 0;
  animation-name: cards;
  animation-duration: 0.3s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  z-index: 10;

  .card {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    transform: rotate(0deg);
    transition: all ease-in-out 0.5s;

    &:nth-child(2) {
      animation-name: cardsTwo;
      animation-duration: 0.3s;
      animation-delay: 4.2s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
    }

    &:nth-child(3) {
      animation-name: cardsThree;
      animation-duration: 0.3s;
      animation-delay: 4.2s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &.wait {
    .card {
      &:nth-child(2) {
        top: -110px !important;
        left: 460px !important;
      }
      &:nth-child(3) {
        top: 150px !important;
        left: -130px !important;
      }
      &:nth-child(1) {
        top: -70px !important;
        left: -688px !important;
      }
    }
  }

  &:hover .card{
    &:nth-child(2) {
      top: -30px;
      left: 10px;
    }
    &:nth-child(3) {
      top: 30px;
      left: -30px;
    }

    &:nth-child(1) {
      top: -10px;
      left: -10px;
    }
  }
}

header {
  opacity: 0;
  animation-name: header;
  animation-duration: 0.3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  position: fixed;
  top: 20px;
  left: 0px;
  width: 100%;

  p {
    margin: 0;
  }

  svg {
    width: 60px;
    height: auto;
  }
}

.jl-main-header-nav {
  & > * {
    margin-left: 50px;
  }
}

.jl-projects {
  height: 75vh;
  padding-bottom: 100px;
  padding-top: 130px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  h1 {
    margin-top: 95px;
  }
}

.project-title {
  border-top: 1px solid #000;

  h2 {
    margin-top: 10px;
  }
}

.project-subtitle {
  h4 {
    margin-top: 0;
  }
}

.project-card {
  width: 360px;
  height: auto;
  position: relative;
  background-color: #E8E7DF;

  a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.project-card {
  padding: 20px;
  border: 1px solid #000;
  margin-right: auto;
  margin-left: auto;
}

.jl-about-wrapper {
  height: 100vh;
  position: relative;
  background-color: #fff;
}

.jl-about {

  .flex {
    justify-content: space-between;
  }

  .box {
    border: 1px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .image {
    width: 35%;

    img {
      width: 100%;
      height: auto;
    }
  }

  [class="h1"] {
    width: 60%;

    p {
      font-size: 3.8vw;
      padding-left: 70px;
    }
  }

  .centered {
    border: 1px solid #000;
    padding: 30px;
    display: flex;

    img {
      width: 50%;
      height: auto;
    }

    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.projects-header {
  .left {
    height: 100vh;
    width: 50%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .right {
    width: 50%;
    position: relative;
  }
}

.project-title-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  min-width: 300px;
}

.project-fullscreen {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;

  img {
    width: 100%;
    height: auto;
  }
}

.grid-images {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;

  & > * {
    width: 48%;
  }
}

.project-inset {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  img {
    width: 100%;
    height: auto;
  }
}

.logos {
  svg {
    display: none;
  }

  h1 {
    margin-top: 0;
    font-size: 35px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.carousel-control-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 98%;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  pointer-events: all;

  button {
    background-color: $gold;
    border: none;
    cursor: pointer;
  }
}

.jld-footer {
  height: 100vh;

  & > * {
    height: 100vh;
    position: relative;
  }

  .left {
    background-color: #939393;
    width: 50%;
  }
}

.jl-wrapper-full-width {
  width: 100% !important;
}

.footer-controls {
    font-family: 'Boogy Brut Poster WBL White';
    font-size: 5.8vw;
    line-height: 1;
    color: #fff;

    div:nth-child(even) {
      margin-left: 140px;
    }
}

.footer-background-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.jld-logo-about {
  position: absolute;
  right: -40px;
  top: 40px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  animation-name: footer;
  animation-duration: 0.3s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
