html {
  scroll-behavior: smooth;
}

@font-face {
    font-family: 'Boogy Brut Poster WBL';
    src: url('../assets/BoogyBrutPosterWEBL-Black.woff2') format('woff2'),
        url('../assets/BoogyBrutPosterWEBL-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Boogy Brut Poster WBL White';
    src: url('../assets/BoogyBrutPosterWEBL-White.woff2') format('woff2'),
        url('../assets/BoogyBrutPosterWEBL-White.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Grotesk';
    src: url('../assets/MonumentGrotesk-Italic.woff2') format('woff2'),
        url('../assets/MonumentGrotesk-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Grotesk';
    src: url('../assets/MonumentGrotesk-Bold.woff2') format('woff2'),
        url('../assets/MonumentGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Grotesk';
    src: url('../assets/MonumentGrotesk-BoldItalic.woff2') format('woff2'),
        url('../assets/MonumentGrotesk-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Grotesk Mono';
    src: url('../assets/MonumentGrotesk-Mono.woff2') format('woff2'),
        url('../assets/MonumentGrotesk-Mono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Grotesk';
    src: url('../assets/MonumentGrotesk-MediumItalic.woff2') format('woff2'),
        url('../assets/MonumentGrotesk-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Grotesk';
    src: url('../assets/MonumentGrotesk-Medium.woff2') format('woff2'),
        url('../assets/MonumentGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Grotesk';
    src: url('../assets/MonumentGrotesk-Regular.woff2') format('woff2'),
        url('../assets/MonumentGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Grotesk SemiMono';
    src: url('../assets/MonumentGrotesk-SemiMono.woff2') format('woff2'),
        url('../assets/MonumentGrotesk-SemiMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



body {
  background-color: $gold;
  font-family: 'Monument Grotesk';
  font-weight: 100;
  font-size: 16px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes header {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes footer {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  5% {
    opacity: 1;
    transform: translateY(0px);
  }
  95% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0.1;
    transform: translateY(5px);
  }
}

@keyframes cards {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cardsTwo {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(-20px) translateX(20px);
  }
}

@keyframes cardsThree {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translate(-30px, 30px);
  }
}

h1 {
  font-family: 'Boogy Brut Poster WBL White';
  font-weight: 100;
  font-size: 60px;
  line-height: 1;
}

[class="h1"] {
  font-family: 'Boogy Brut Poster WBL White';
  font-weight: 100;
  font-size: 90px;
  line-height: 1;

  & > * {
    font-family: 'Boogy Brut Poster WBL White';
    font-weight: 100;
    font-size: 90px;
    line-height: 1;
  }
}


h3 {
  .project-images-wrapper & {
    font-family: 'Boogy Brut Poster WBL White';
    font-size: 48px;
    font-weight: 100;
    line-height: 1;
    letter-spacing: 2px;
  }
}

h2 {
  font-size: 24px;

  .project-title & {
    font-weight: 200;
    text-transform: uppercase;
    font-size: 28px;

    @include mq($until: tablet) {
      font-size: 24px;
    }
  }
}

h3 {
  font-size: 18px
}

h4 {
  font-size: 18px;
  font-weight: 300;
}

p {
  font-size: 16px;
}

ul {
  list-style: none;
  margin: 0;
}

.flex {
  display: flex;

  @include mq($until: desktop) {
    flex-direction: column;
  }
}

.flex-start {
  justify-content: flex-start;
  flex-direction: row !important;

  svg {
    margin-top: 20px;
    margin-left: 15px;
  }

  input {
    width: max-content !important;
    cursor: pointer;
  }
}

.space-bwtn {
  justify-content: space-between;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.eighty {
  width: 80%;

  @include mq($until: tablet) {
    width: 85%;
  }
}

.jl-wrapper {
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @include mq($until: desktop) {
    width: 90%;
  }
}

.jl-logo-wrapper {
  height: 100vh;
  position: relative;

  svg {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    overflow: visible;
    z-index: -10;

    path {
      will-change: opacity;
      opacity: 0;
      animation-name: fadeIn;
      animation-duration: 3s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;

      @for $i from 1 through 23{
      &:nth-child(#{$i}){
        animation-delay: $i * 50ms;
      }
    }
    }
  }
}

.jl-home-image-cards {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  height: 500px;
  opacity: 0;
  animation-name: cards;
  animation-duration: 0.3s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  z-index: 10;

  .card {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    transform: rotate(0deg);
    transition: all ease-in-out 0.5s;

    &:nth-child(2) {
      animation-name: cardsTwo;
      animation-duration: 0.3s;
      animation-delay: 4.2s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
    }

    &:nth-child(3) {
      animation-name: cardsThree;
      animation-duration: 0.3s;
      animation-delay: 4.2s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &.wait {
    .card {
      &:nth-child(2) {
        top: -110px !important;
        left: 460px !important;
      }
      &:nth-child(3) {
        top: 150px !important;
        left: -130px !important;
      }
      &:nth-child(1) {
        top: -70px !important;
        left: -688px !important;
      }
    }
  }

  &:hover .card{
    &:nth-child(2) {
      top: -30px;
      left: 10px;
    }
    &:nth-child(3) {
      top: 30px;
      left: -30px;
    }

    &:nth-child(1) {
      top: -10px;
      left: -10px;
    }
  }
}

header {
  // opacity: 0;
  // animation-name: header;
  // animation-duration: 0.3s;
  // animation-delay: 1s;
  // animation-fill-mode: forwards;
  // animation-timing-function: ease-in-out;
  position: fixed;
  top: 0px;
  padding-top: 20px;
  left: 0px;
  width: 100%;
  z-index: 10000;

  .logos svg {
    path {
      fill: #fff;
    }
  }

  .flex {
    flex-direction: row;
  }

  .layout--home & {
    h1 {
      color: #fff;
    }
  }

  a:hover {
    border-bottom: 1px solid #fff;
  }

  &.scrolling {
    background-color: $gold;

    a:hover {
      border-bottom: 1px solid #000;
    }

    h1 {
      color: #000;
    }

    .logos svg {
      path {
        fill: #000;
      }
    }
  }

  @include mq($until: tablet) {
    top: 0;
    padding-bottom: 10px;
    z-index: 10000;
  }

  p {
    margin: 0;
  }

  svg {
    width: 60px;
    height: auto;
  }
}

.jl-main-header-nav {
  @include mq($until: desktop) {
    display: none;
  }
  & > * {
    margin-left: 50px;
  }

  .scrolling & {
    li {
      color: #000 !important;
    }
  }

  .layout--home & {
    li {
      color: #fff;
    }
  }
}

.jl-projects {
  padding-bottom: 100px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  @include mq($until: tablet) {
    width: 100%;
    min-height: auto;
    padding-bottom: 50px;
  }

  .intro-text {
    margin-bottom: 66px;
    text-align: center;
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;

    h1 {
      font-size: 60px;
      line-height: 1.1;

      @include mq($until: tablet) {
        font-size: 36px;
        margin-top: 50px;
      }
    }
  }

  h1 {
    margin-top: 95px;

    @include mq($from: tablet) {
      margin-top: 155px;
      margin-bottom: 155px;
    }
  }
}

.project-title {
  h2 {
    margin-top: 10px;
    color: #fff;
  }
}

.project-subtitle {
  h4 {
    font-size: 14px;
    margin-top: 0;
    color: #fff;
  }
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    border-bottom: 1px solid #000;
    padding-bottom: 4px;
  }
}

.project-card {
  height: auto;
  position: relative;
  background-color: #E8E7DF;
  animation-delay: 0.8s;

  @include mq($from: tablet) {
    width: 410px;
  }

  a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
  }

  img {
    width: 100%;
    height: 99.6%;
    object-fit: cover;
    background-color: #000;
    transition: all 0.3s ease-in-out;
    border: 1px solid #000;
    min-height: 574px;
  }

  .siema & {
    @include mq($until: tablet) {
      width: 75%;
    }
  }

  &:hover {
    .project-card-title-wrapper {
      opacity: 1;
    }

    img {
      opacity: 0.5;
      z-index: 1;
    }
  }

  .project-card-image-wrapper {
    height: 100%;

    @include mq($from: desktop) {
      background-color: #000;
    }
  }

  .project-card-title-wrapper {
    position: absolute;
    opacity: 0;
    width: 80%;
    transition: all 0.3s ease-in-out;
    top: 40px;
    left: 40px;
    z-index: 2;
  }
}

.project-card {
  padding: 0px;
  margin-right: auto;
  margin-left: auto;
}

.jl-about-wrapper {
  position: relative;
  background-color: #fff;
  padding-bottom: 5vh;
  padding-top: 5vh;
  height: auto;
  display: flex;
  flex-direction: column;

  a {
    @include mq($until: desktop) {
      border-bottom: 1px solid #000;
    }
  }

  @include mq($from: desktop) {
    height: auto;
    min-height: 800px;
    padding-top: 0;
    padding-bottom: 14vh;
  }
}

.jl-about {

  .layout--home & {
    p {
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        display: none;
      }
    }
  }

  .flex {
    justify-content: space-between;
  }

  .box {
    border: 1px solid #000;

    @include mq($until: desktop) {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }

    @include mq($from: desktop) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .image {
    width: 100%;
    overflow: hidden;
    margin-bottom: -4px;

    @include mq($from: desktop) {
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      width: 40%;
      margin-bottom: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-height: 90vh;
    }
  }

  [class="h1"] {
    width: 84%;
    font-size: 35px;
    line-height: 40px;
    padding-left: 30px;

    @include mq($from: desktop) {
      width: 56%;
    }

    p {
      font-size: 24px;
      line-height: 1.2;
      letter-spacing: 0.5px;

      @include mq($from: desktop) {
        font-size: 2.5vw;
        line-height: 2.8vw;
      }
    }
  }

  .centered {
    border: 1px solid #000;
    padding: 30px;
    display: flex;

    img {
      width: 50%;
      height: auto;
    }

    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.projects-header {
  position: relative;

  .left {
    height: 100vh;
    width: 50%;

    @include mq($until: desktop) {
      width: 100%;
      height: 74vh;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .right {
    width: 50%;
    position: relative;

    @include mq($until: desktop) {
      width: 100%;
    }
  }
}

.right {
  .carousel-slide {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;

    &.active {
      opacity: 1;
      pointer-events: all;
    }

    span {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.project-title-wrapper {
  position: relative;
  padding: 5%;

  @include mq($from: desktop) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
  }

  p {
    line-height: 1.5;
  }

  h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    margin-bottom: 40px;
  }

  h1 {
    @include mq($until: desktop) {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}

.project-fullscreen {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;

  img {
    width: 100%;
    height: auto;
  }
}

.grid-images {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  margin-top: 5%;
  margin-bottom: 5%;

  & > * {
    width: 48%;

    @include mq($until: desktop) {
      width: 100%;
    }
  }

  video {
    width: 48% !important;

    @include mq($until: desktop) {
      width: 100% !important;
    }
  }
}

.grid-images-three {
  & > * {
    width: 33%;

    @include mq($until: desktop) {
      width: 100%;
    }
  }
}

.project-inset {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  img {
    width: 100%;
    height: auto;
  }
}

.logos {
  svg {
    display: none;
  }

  h1 {
    margin-top: 0;
    font-size: 35px;
    letter-spacing: 2px;
    text-transform: uppercase;

    @include mq($until: desktop) {
      font-size: 22px;
    }
  }
}

.layout--project .sticky-version .flex{
  flex-direction: column;

  @include mq($from: tablet) {
    flex-direction: row;
  }
}

.layout--projects .jl-about-wrapper, .layout--about .jl-about-wrapper {
  background-color: transparent;
}

.layout--projects , .layout--about {

  .jl-about {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 13vh;

      @include mq($from: desktop) {
          padding-top: 13vh;
          width: 80%;
      }
  }

  .jl-about .flex {
    align-items: center;
    justify-content: space-around;

    @include mq($until: desktop) {
        flex-direction: column;
    }
  }

   .about-left {
     width: 100% ;

     @include mq($until: desktop) {
       margin-bottom: -5px;
     }

     @include mq($from: desktop) {
       width: 55%;
       margin-top: -100px;
    }

     img {
       width: 100%;
       height: auto;

         @include mq($until: desktop) {
           border: 1px solid #000;
          box-sizing: border-box;
        }
     }
   }
   .about-right {
     width: 100%;
     border: 1px solid #000;
     position: relative;
     padding-top: 0px;
     padding-bottom: 20px;
     padding-left: 20px;
     padding-right: 20px;
     box-sizing: border-box;

     @include mq($from: desktop) {
       padding-top: 0px;
       margin-top: 140px;
       margin-left: -35px;
       padding-right: 40px;
       width: 65%;
     }

     .jld-logo-about {
       left: 50%;
       top: -25px;
       transform: translateX(-50%);

       @include mq($from: desktop) {
         right: -44px;
         left: unset;
         top: 80px;
         transform: unset;
       }

       svg {
         circle {
           fill: $gold;
         }
       }
     }

     span p{
       font-size: 32px;

       @include mq($from: desktop) {
         font-size: 2vw !important;
         line-height: 2.5vw !important;
         padding-left: 30px;
       }
     }
   }
}

.jld-title-wrapper {
  padding-top: 30px;
  margin-bottom: -90px;

  .layout--about & {
    margin-bottom: 80px;
  }

  h1 {
    text-align: center;
  }
}

.jl-carousel-wrapper {
  min-height: 850px;

  @include mq($until: tablet) {
    min-height: 690px;
  }
}

.carousel-control-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 98%;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  pointer-events: all;

  @include mq($from: desktop) {
    top: 54%;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &.white {
    background-color: transparent;

    button {
      background-color: transparent;
    }
  }

  svg {
    @include mq($until: tablet) {
      width: 30px;
      height: auto;
      stroke: black;
      stroke-width: 4px;
    }
  }

  .prev {
    @include mq($until: tablet) {
        transform: translateX(-25px);
    }
  }

  .next {
    @include mq($until: tablet) {
        transform: translateX(25px);
    }
  }
}

.jld-footer {
  height: 100vh;
  border-top: 1px solid #000;

  @include mq($until: desktop) {
    flex-direction: column;
    height: auto;
  }

  & > * {
    height: 100vh;
    width: 50%;
    position: relative;
  }

  .left {
    background-color: #939393;
    width: 50%;

    @include mq($until: desktop) {
      width: 100%;
      height: 30vh;
    }
  }

  .right {
    @include mq($until: desktop) {
      width: 100%;
    }
  }
}

.jl-wrapper-full-width {
  width: 100% !important;
}

.footer-controls {
    font-family: 'Boogy Brut Poster WBL White';
    font-size: 4.8vw;
    line-height: 1;
    color: #E8E7DF;

    @include mq($until: desktop) {
      font-size: 42px;
      display: flex;
    }

    .footer-control {
      display: inline-block;
      box-sizing: border-box;
      border-bottom: 1px solid transparent;

      @include mq($until: desktop) {
        display: block;
      }

      &.active {
        border-bottom: 1px solid #fff;
        color: #fff;
      }

      &:hover {
        border-bottom: 1px solid #fff;
      }
    }

    div:nth-child(even) {
      margin-left: 140px;

      @include mq($until: desktop) {
        margin-left: 20px;
        margin-right: 20px;
      }
    }
}

.footer-background-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    opacity: 0;

    &.visible {
      opacity: 1;

      @include mq($until: desktop) {
        opacity: 0.6;
      }
    }
  }
}

.jld-logo-about {
  position: absolute;
  right: -40px;
  top: 40px;
  z-index: 100;

  @include mq($until: desktop) {
    right: -24px;
    top: 20px;
    width: 50px;
  }

  svg {
    width: 100%;
    height: auto;
  }
}

.white {
  background-color: #fff;
  width: 100%;
}

.floating-window {
  width: 97%;
  height: 83vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(0,0,0,0.5);

  @include mq($until: desktop) {
    width: 95%;
    height: auto;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.project-images-wrapper {
  video {
    width: 100%;
    height: auto;
  }
}

.jl-wrapper__long p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Boogy Brut Poster WBL White';
  font-size: 48px;
  line-height: 1.6;
}

.jl-wrapper__centered  {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
}

.jl-wrapper__centered h2 {
  font-family: 'Boogy Brut Poster WBL White';
  font-size: 50px;
  text-align: left;
  font-weight: 100;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
}

.jl-wrapper__centered h1 {
  font-family: 'Boogy Brut Poster WBL White';
  font-size: 80px;
  text-align: center;
  font-weight: 100;
  line-height: 1;
  margin-bottom: 20px;
  margin-top: 0;
  margin-right: 50px;
}

.flex.start {
  width: 60%;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  img {
    width: 40%;
  }
}

.flex.end {
  width: 60%;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: auto;
  img {
    width: 40%;
  }
}

footer {
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
  opacity: 0;
  animation-name: footer;
  animation-duration: 0.3s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  margin-right: 10px;

  @include mq($until: desktop) {
    position: relative;
    bottom: 0;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.jld-contact-form {
  width: 100%;
  transform: translate(-50%,-50%);
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  border: none;
  outline: none;

  @include mq($until: desktop) {
    width: 95%;
  }

  form,fieldset {
    border: none;
    outline: none;
  }

  input, textarea {
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    margin-bottom: 30px;
    padding-bottom: 10px;
  }

  label {
    font-family: 'Monument Grotesk';
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
  }

  textarea {
    height: 150px;
    font-family: 'Monument Grotesk';
    font-size: 14px;
  }

  input.btn {
    background-color: transparent;
    text-align: left;
    font-family: 'Boogy Brut Poster WBL White';
    font-size: 32px;
    color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 0;
    padding-left: 0;
    margin-left: 0;

    @include mq($from: desktop) {
      font-size: 42px;
    }
  }
}

.footer-about, .footer-clients {
  span, ul {
    font-size: 32px;
    width: 80%;
    font-family: 'Boogy Brut Poster WBL White';

    svg {
      margin-left: 15px;
      margin-top: 15px;
    }

    ul {
      margin-left: auto;
      margin-right: auto;
    }

    @include mq($from: desktop){
      width: 74%;
      font-size: 42px;
    }
  }
}

.footer-about {
  span {
    text-align: left !important;
  }

  a {
    display: block;
    margin-top: 20px;
    width: max-content;
  }
}

.footer-clients {
  ul {
    padding-left: 0;
    font-size: 32px;
    @include mq($from: desktop){
      font-size: 52px;
    }
  }
}

.siema {
  & > div {
    transition: all ease-in-out 0.5s !important;
  }

  .project-card {
    @include mq($from: desktop){
      height: 584px;
    }
  }
}

.socials {
  & > * {
    margin-right: 10px;
  }
}

.projects-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 60px;
  justify-content: center;

  @include mq($from: tablet){
    flex-direction: row;
    padding-top: 120px;
  }

  .project-card {
    margin-bottom: 30px;
    margin-left: unset;
    margin-right: unset;
    margin-right: 22px;
    min-height: 580px;
  }
}

@keyframes videoresize {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  25% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.9;
    transform: scale(0.7);
  }
  100% {
    opacity: 0.8;
    transform: scale(1);
  }
}

@keyframes videoreintrotype {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.selected-work-label {
  position: absolute;
  bottom: 20px;
  left: 4%;
  width: 97%;
  z-index: 99;
  font-size: 16px;
  color: #fff;

  @include mq($from: desktop) {
    bottom: 180px;
    left: 1.5%;
  }
}

.video-wrapper {
  background-color: #000;
  height: 100vh;

  video {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(0.8);
    animation-name: videoresize;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 0.3s;
    animation-timing-function: ease-in-out;
  }

  .intro-text {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    max-width: 1300px;
    z-index: 100;
    // opacity: 0;
    // animation-name: videoreintrotype;
    // animation-duration: 1s;
    // animation-fill-mode: forwards;
    // animation-iteration-count: 1;
    // animation-delay: 1.5s;
    // animation-timing-function: ease-in-out;

    @include mq($from: desktop) {
      left: 1.5%;
    }

    h1 {
      color: #fff;
      font-size: 50px;

      @include mq($from: desktop) {
        font-size: 100px;
      }
    }
  }
}

.header-video {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.project-carousel-images {
  margin-bottom: 5%;

  .car-image {
    width: 100%;
    height: 80vh;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.sticky-version {
  .left {
    top: 0;
    align-self: flex-start;

    @include mq($from: desktop) {
      position: sticky;
      max-width: 40%;
    }
  }

  .project-title-wrapper {
    position: relative;
    top: auto;
    left: auto;
    transform: unset;
    margin-top: 200px;
    padding: 4%;
  }

  .project-images-wrapper {
    // padding-top: 100px;

    .project-fullscreen {
      width: 100%;
    }
  }

  #project-subtitle {
    margin-left: 4%;
  }

  #project-subtitle + p {
    margin-left: 4%;
  }
}

.hamburger {
  width: 40px;
  height: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include mq($from: desktop) {
    display: none;
  }

  &.open {
    span {
      &:nth-child(2) {
        display: none;
      }
    }

    span {
      &:nth-child(1) {
        transform: rotate(45deg) translateX(9px) translateX(5px);
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translateX(11px) translateX(1px);
      }
    }
  }

  span {
    height: 1px;
    width: 100%;
    background-color: #fff;
    display: block;
    transition: all ease-in-out 0.5s;
  }

  .scrolling & {
    span {
      background-color: #000;
    }
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background-color: #000;
  z-index: 1000;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: all ease-in-out 0.3s;

  &.open {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
  }

  @include mq($from: desktop) {
    display: none;
  }
}

.jl-mobile-nav {
  padding-left: 20px;
  margin-top: 80px;
  li {
    font-size: 60px;
    color: #fff;
    a {
    font-family: 'Boogy Brut Poster WBL White';
    }
  }
}

.carousel-inner {
  @include mq($until: desktop) {
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
}

.flex--previous {
  margin-right: 20px;
}

.flex--previous, .flex--next {
  font-weight: 100;

  h2 {
    font-weight: 100;
  }
}

.onward__journeys-flex {
  margin-bottom: 50px;
  justify-content: space-between;
}

.flex__mainCol {
  width: 98%;
}

.onward__journeys-label {
  font-family: 'Boogy Brut Poster WBL White';
  font-weight: 100;
}

.onward__journeys-wrapper {
  @include mq($until: desktop) {
    padding: 20px;
  }
}

.previous-project, .next-project {
  font-size: 22px;
}
